/* @override 
	http://sftips.localhost/css/frontend/main.css
	http://check.localhost/css/frontend/main.css
*/
* {
 margin: 0;
 padding: 0;
}

/* @group Structure */

body
{
	margin: 0;
	padding: 0 0 0;
	font-family: Arial, Helvetica, sans-serif;
	background-color: #353535;
	font-size: .75em; /* 12 px */
	color: #fff;
}

#printbody
{
	background-color: #fff;
  color: #000;
}
#printbody a
{
  color: #000;
}

.content{
    clear:both;
}

body.javascriptOff #todo .ui-widget-header .check
{
	display: none;
}
a img
{
	border: none;
}
.wrapAll
{
	width: 58.33333em; /* 700px */
	margin: 0 auto;
}
.header
{
	height: 240px;
	overflow: visible;
}
.header h1
{
	float: left;
	margin: 20px 0 0;
	padding: 0;
	font-size: 2em; /* 24px */
	width: 16.6666em; /* 400px */
	font-family: Myriad Pro, Myriad, Arial, Helvetica, sans-serif;
	font-weight: normal;
}
.header h1 span
{
	white-space: nowrap;
}
.uiStudioLink
{
	position: absolute;
	bottom: 0;
	right: 0;
	margin: 0;
	padding: 0;
}
.footer .uiStudioLink
{
	right: -10px;
	bottom: -10px;
}
.headerEnd
{
	clear: both;
}

/* @group topline */

div.topline
{
  float:right;
	padding: 0 1em;
	color: #ccc;
	font-size: 150%;
}
.topline a,
.topline a:link,
.topline a:active,
{
	text-decoration: none;
	color: #ccc;
	text-transform: lowercase;
    text-decoration: underline;
}

div.topline ul
{
	margin: 1em 0;
	padding: 0;
}
div.topline li
{
	display: inline;
	margin: 0;
	padding: 0 2em 0 0;
}
.topline li a,
.topline li a:link,
.topline li a:hover,
.topline li a:active,
.topline li a:visited
{
}

/* @end */


pre
{
	margin: 1em 0;
	padding: 1em;
	background-color: #e0e0e0;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
}


code
{
	font-size: 1.223em;
  background-color: #e0e0e0;
}
pre code
{
	font-size: 1em;
}
a,
a:link,
a:active,
a:visited
{
  color: #ccc;
	text-decoration: underline;
}
.expressYourself
{
	margin: 5em 0 1em;
	padding: 0;
}
.expressYourself h2
{
	font-weight: normal;
}
#sf_admin_container
{
	padding: 1em .5em;
	background-color: #EFEFEF;
	color: #444;
}
/* @group Footer */

.footer
{
	margin: 3em 0;
}
.footer a,
.footer a:link,
.footer a:active,
.footer a:visited
{
	color: #353535;
	text-decoration: underline;
}
.footer a:hover
{
	color: #fff;
	text-decoration: none;
}
.footer a.brillault,
.footer a.brillault:link,
.footer a.brillault:hover,
.footer a.brillault:active,
.footer a.brillault:visited
{
	color: #fff;
}

.madeBy
{
	margin: 0;
	padding: .5em 1em;
	background-color: #525252;
	color: #353535;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}
.madeBy em
{
	float: right;
	font-style: normal;
}
.madeBy strong
{
	font-weight: normal;
	color: #fff;
}
.madeBy strong a,
.madeBy strong a:link,
.madeBy strong a:active,
.madeBy strong a:visited
{
	color: #fff;
	text-decoration: underline;
}
.legals
{
	margin: 0;
	padding: 1em 0;
	color: #555;
}
.legals p
{
	margin: 0;
	padding: 0 0 .5em;
}
.legals a,
.legals a:link,
.legals a:hover,
.legals a:active,
.legals a:visited
{
	color: #555;
}

/* @end */


/* @end */

/* @group NoScript */

div.javascriptOff
{
	display: block;
	margin: 3em 0;
	padding: 1em 1em 1em 60px;
	color: #000;
	background-color: #E0E0E0;
	background-image: url(/sf/sf_default/images/icons/tools48.png);
	background-repeat: no-repeat;
	background-position: 5px 50%;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}
div.javascriptOff h1
{
	margin: 0;
	padding: 0;
	font-weight: normal;
	font-size: 200%;
}
div.javascriptOff p
{
	margin: 0;
	padding: 0;
}
/* @end */

/* @group Todo list */
#todoAnchors
{
	display: block;
	padding: 1em 0 3em;
	font-family: georgia, serif;
}
#todoAnchors h2
{
	margin: 0;
	padding: 0;
	font-weight: normal;
	font-size: 1.9em;
}
#todoAnchors ul
{
	margin: 1em 0;
	padding: 0;
	color: #aaa;
}
#todoAnchors li
{
	margin: 1em 0 0 1em;
	padding: 0;
	font-size: 1.5em;
}
#todoAnchors a,
#todoAnchors a:link,
#todoAnchors a:hover,
#todoAnchors a:active,
#todoAnchors a:visited
{
	display: block;
	color: #aaa;
}
#todoAnchors li:hover,
#todoAnchors a:hover
{
	color: #fff;
}

#todo
{
	clear: both;
	position: relative;
  list-style-type: none; 
  margin: 0; 
  padding: 0; 
}

#todo .thumb
{
	float: right;
	margin: 0 0 1em 1em;
	padding: 0;
}
.javascriptOff #todo .todo
{
	margin: 1em 0;
}
#todo .ui-widget-header,
.newitem .ui-widget-header
{
	position: relative;
	margin-top: 3px;
	font-size: 1em;/* 15.6px */
	padding: .5em 1em .5em 2.2em;
	zoom: 1;
    width: 595px;
}

.item-header
{
	cursor: pointer;
    min-height: 25px;
}

body.todoShow #todo .ui-widget-header
{
	padding-left: 1em;
}
.todoShow #todo .ui-widget-header,
.javascriptOff #todo .ui-widget-header
{
	cursor: auto;
}
#todo .ui-widget-header .move
{
	display: none;
	position: absolute;
	right: .5em;
	top: 50%;
	margin-top: -8px;
	width: 24px;
	height: 24px;
	background-image: url(img/move.png);
	background-position:  50% -26px;
	cursor: move;
}
#todo .ui-widget-header.ui-state-disabled .move
{
	background-position:  50% -2px;
}
#todo .ui-widget-header .title
{
	float: left;
	line-height: 24px;
}
#todo .ui-widget-header .tags
{
	float: right;
	margin: 0;
	padding: 0;
	height: 24px;
	line-height: 24px;
}
#todo .ui-widget-header .tags li
{
	display: inline;
	margin: 0;
	padding: 0 5px;
	list-style-type: none;
	font-size: .7em;
	color: #000;
	background-color: #DCE7FA;
	border: 1px solid #A1BFF3;
	-webkit-border-radius: .5em;
	-moz-border-radius: .5em;
}
#todo .ui-widget-header .ui-widget-header-end
{
	clear: both;
	display: block;
}
#todo .ui-widget-header:hover .move
{
  display: block;
}
#todo .ui-widget-content p.top
{
	float: right;
}
#todo .ui-widget-content p.top a:link,
#todo .ui-widget-content p.top a:hover,
#todo .ui-widget-content p.top a:active,
#todo .ui-widget-content p.top a:visited
{
	text-decoration: none;
}
#todo .ui-widget-content p.top .ui-icon
{
	float: left;
}
#todo .ui-widget-header .check
{
	position: absolute;
	overflow: hidden;
	left: .5em;
	top: 50%;
	height: 24px;
	width: 24px;
	margin-top: -12px;
	font-size: 1em;
	background-repeat: no-repeat;
	background-position: 50% 0;
	background-image: url(img/checked.png);
}

#todo .ui-state-disabled .check
{
	background-position: 50% 100%;
}
#todo .ui-widget-content
{
	display: none;
	padding: 1em 2.2em;
    width: 583px;
	border-top: 0;
	margin-top: -2px;
	position: relative;
	top: 1px;
	margin-bottom: 2px;
	overflow: auto; 
	/*font-size: .76923em;*/ /* 12px */
	font-size: .897em;
}

#todo .ui-widget-content ul{
  margin-left: 15px;
}

body.javascriptOff #todo .ui-widget-content,
body.todoShow #todo .ui-widget-content
{
	display: block;
}

.permalink
{

	margin: 0 0 1em 1em;
	padding: 0;
	text-align: right;
}
.permalink a,
.permalink a:link,
.permalink a:hover,
.permalink a:active,
.permalink a:visited
{
	color: #66c;
}
.permalink a:hover
{
	color: #009;
}
/* @end */

.markedit-preview {
	background: #F9F9F9;
}

textarea {
    border: 0px;
    vertical-align:top;
}
input {
    border: 0px;
}

button {
    border: 0px;
}

legend {
    font-size: 2em; 
}

label {
    font-size: 2em; 
    margin: 10px;
}

fieldset {
    padding: 20px;
    margin: 10px;
}

.formitem {
    margin-bottom: 30px;
}

.itemnum {
    font-size: 4em;
    font-weight: bold;
}

.icon-drag {
    float: right;
    margin-top: 10px;
    cursor: move;
}
.icon-edit {
    float: right;
    margin-top: 10px;
    cursor: pointer;
}
.icon-delete {
    float: right;
    margin-top: 10px;
    cursor: pointer;
}
.icon-show {
    margin-top: 5px;
}

.ui-state-highlight {
    height: 1.5em;
    width: 595px;
    margin-top: 3px;
	padding: .5em 1em .5em 2.2em;
    -moz-border-radius-bottomleft:4px;
    -moz-border-radius-bottomright:4px;
    -moz-border-radius-topleft:4px;
    -moz-border-radius-topright:4px;
}

.title_head {
    text-align: right;
    margin-right: 55px !important;
    margin-right: 23px;
    font-size: 1.1em;
    clear:both;
    text-shadow: #888 0px 0px 10px;
}
.title_head_center {
    margin-top: 50px;
    margin-bottom: 20px;
    font-size: 1.1em;
    clear:both;
    text-shadow: #888 0px 0px 10px;
}

.title_head_center h1{
    font-size: 45px;
}
.title_head_center h2{
    font-size: 36px;
}

div.fiftypercent {
    width: 48%;
    float: left;
}

/* Forms stuff */
div.form-row input{
    width: 100%;
}
div.form-row textarea{
    width: 100%;
}

div.form-row .form-help{
    color: #ccc;
    margin-bottom: 10px;
    margin-top: 5px;
}

.flash_error{
    background-color:#3f0d2d;
    border: 2px solid #8f075d;
    padding: 20px;
    font-size: 150%;
    -moz-border-radius:10px;
    -moz-border-radius:10px;
}
.flash_notice{
    background-color:#3f0d2d;
    border: 2px solid #8f075d;
    padding: 20px;
    font-size: 150%;
    -moz-border-radius:10px;
    -moz-border-radius:10px;
}

ul{
  margin: 0;
  padding: 0;
}

ul.listoflists{
  margin-top: 20px;
}

ul.listoflists .shortdesc a{
  color: #aaa;
  font-size: 100%;
  text-decoration: none;
}

ul.listoflists a{
  color: #fff;
  font-size: 180%;
}

a:hover {
  text-decoration: none;
}

.right {
  text-align: right;
	margin: 20px 45px 0 0;
}
.pinkrounded{
  background-color:#3f0d2d;
  border: 2px solid #8f075d;
  padding: 10px;
  font-size: 100%;
	-webkit-border-radius: 3px;
  -moz-border-radius:10px;
  color: #c797b6;
}
.msgcenter{
  margin-top:100px;
  text-align:center;
}

#footer{
  margin-top:50px;
  padding-top:30px;
  color: #aaa;
  clear: both;
}

#opensource{
  margin: 0 auto;
  width: 400px;
  background-color: #444;
  padding: 20px;
}

#opensource img{
  float: left;
  margin-right:10px;
}

#description{
  color: #aaa;
  margin:15px 80px 15px 30px;
}

.bigtext{
  margin-top: 30px;
  font-size: 130%;
}

